:local(.bodyContainer){
    min-height: 70vh;
    margin-left: 1rem;
    margin-right: 1rem;
    color: black;
    padding: 2rem;
}

@media only screen and (min-width: 1300px){
    :local(.bodyContainer){
        max-width: 1280px;
        margin: auto;
    }
}

@media only screen and (max-width: 450px) {
    :local(.reactTable){
        max-width: 90vw;
        overflow: scroll;
    }
    :local(.bodyContainer){
        padding: 0rem;
    }
}