:local(.bodyContainer){
    min-height: 70vh;
    margin-left: 1rem;
    margin-right: 1rem;
    color: black;
    padding: 2rem;
    display: grid;
    grid-template-areas: "left right right";
}

:local(.uploadContainer){
    display: grid;
    grid-template-areas: "upload upload info";
}

:local(.uploadLeft){
    grid-area: upload;
}

:local(.uploadRight){
    grid-area: info;
}

:local(.downloadButton){
    padding: 1rem;
    background-color: #4C93AF;
    color: white;
    width: 100%;
    font-size: 1.5rem;
    cursor: pointer;
    &:hover{
        background-color: rgb(118, 196, 226);
    }
}

@media only screen and (max-width: 1020px){
    :local(.bodyContainer){
        grid-template-areas: "left"
                            "right";
    }
}

@media only screen and (min-width: 1300px){
    :local(.bodyContainer){
        max-width: 1280px;
        margin: auto;
    }
}