:local(.bodyContainer){
    //TODO - remove height component when content is filled
    height: 70vh;
    margin-left: 1rem;
    margin-right: 1rem;
}

@media only screen and (min-width: 1280px){
    :local(.bodyContainer){
        width: 1280px;
        margin: auto;
    }
}