:local(.bodyContainer){
    //TODO - remove height component when content is filled
    height: 70vh;
    margin-left: 1rem;
    margin-right: 1rem;
    color: black;
    padding: 2rem;
}

:local(.signInContainer){
    padding-top: 10rem;
}

@media only screen and (min-width: 1300px){
    :local(.bodyContainer){
        max-width: 1280px;
        margin: auto;
    }
}